<nav class="navbar navbar-default navbar-fixed-top website">
    <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon header glyphicon-chevron-left"></span>
                </a>
            </div>
                <a class="navbar-brand" href="#">
                <b>Websites</b>
            </a>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon header glyphicon-plus"></span>
                </a>
            </div>
        </div>
</nav>



<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}"
               class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom website">
    <div class="container-fluid">
        <div class="navbar-bottom">
                <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="nav navbar-nav navbar-right">
                    <span class="glyphicon footer glyphicon-user"></span>
                </a>
                </p>
    </div>
        </div>
</nav>
