<nav class="navbar navbar-default navbar-fixed-top website">
    <div class="row container-fluid">
        <div class="col-xs-4 hidden-xs">
            <div class="navbar-text left pull-left">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon header glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <b>Websites</b>
                </a>
            </div>
            <div class="navbar-text right-middle pull-right">
                <a href="#">
                    <span class="glyphicon header glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="navbar-text left pull-left">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon header glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text right pull-right">
                <a ng-click="model.createWebsite(model.website.name, model.website.description)"
                   class="navbar-link">
                    <span class="glyphicon header glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <b>New Website</b>
                </a>
            </div>
        </div>
    </div>
</nav>








<div class="row container-fluid">

    <div class="col-xs-4 hidden-xs">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8">
        <form>
            <div class="form-group">
                <label for="website-name">Name</label>
                <input ng-model="model.website.name"
                        type="text"
                       class="form-control"
                       id="website-name"
                       placeholder="Name">
            </div>
            <div class="form-group">
                <label for="website-description">Description</label>
                <textarea ng-model="model.website.description"
                            rows="5"
                            id="website-description"
                            class="form-control"
                            placeholder="Description"></textarea>
            </div>
        </form>
    </div>
</div>







<nav class="navbar navbar-default navbar-fixed-bottom website">
    <div class="container-fluid">
        <div class="navbar-bottom">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}"
                   class="nav navbar-nav navbar-right">
                    <span class="glyphicon footer glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>



