<nav class="navbar navbar-default navbar-fixed-top website">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text left pull-left">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon header glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <b>Websites</b>
                </a>
            </div>
            <div class="navbar-text right-middle pull-right">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon header glyphicon-plus"></span>
                </a>
            </div>
        </div>



        <div class="col-sm-8">
            <div class="navbar-text left pull-left">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon header glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text right pull-right">
                <button  form="websiteForm"
                         type="submit"
                         ng-click="model.updateWebsite(model.website)"
                         class="btn btn-default btn-transparent">
                    <span class="glyphicon header glyphicon-ok"></span>
                </button>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <b>Edit Website</b>
                </a>
            </div>
        </div>
    </div>
</nav>






<div class="row container-fluid">

    <div class="col-xs-4 hidden-xs">
        <li ng-repeat="website in model.websites"
            class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page"
               class="text">
                {{website.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </div>

    <div class="col-xs-12 col-sm-8">
        <div ng-if="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <form name="websiteForm" id="websiteForm" novalidate>
            <div class="form-group">
                <label for="website-name">Website Name</label>
                <input ng-model="model.website.name"
                       type="text"
                       name="name"
                       required
                       class="form-control"
                       id="website-name"
                       placeholder="Amazon">
            </div>
            <div class="alert alert-danger" ng-show="websiteForm.$submitted && websiteForm.name.$invalid">
                Website name is required
            </div>
            <div class="form-group">
                <label for="website-description">Website Description</label>
                <textarea ng-model="model.website.description"
                          rows="5"
                          id="website-description"
                          class="form-control"
                          placeholder="Description"></textarea>
            </div>
        </form>
        <a ng-click="model.deleteWebsite(model.website._id)"
           class="btn btn-danger  btn-block">Delete</a>
    </div>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom website">
    <div class="container-fluid">
        <div class="navbar-bottom">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="nav navbar-nav navbar-right">
                    <span class="glyphicon footer glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
