<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text left pull-left">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon black glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <b>Pages</b>
                </a>
            </div>
            <div class="navbar-text right-middle pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon black glyphicon-plus"></span>
                </a>
            </div>
        </div>



        <div class="col-sm-8">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon black glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand" href="#">
            <b>Edit Page</b>
        </a>
        <div class="navbar-text pull-right">
            <a ng-click="model.updatePage(model.page)">
                <span class="glyphicon black glyphicon-ok"></span>
            </a>
        </div>
    </div>
        </div>
</nav>




<div class="row container-fluid">
    <div class="col-xs-4 hidden-xs">
        <li ng-repeat="page in model.pages"
            class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget"
               class="text">
                {{page.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </div>



    <div class="col-xs-12 col-sm-8">
        <form>
        <div class="form-group">
            <label for="page name">Name</label>
            <input ng-model="model.page.name"
                   type="text"
                   class="form-control"
                   id="page name"
                   placeholder="Page Name">
        </div>
        <div class="form-group">
            <label for="page-title">Title</label>
            <input ng-model="model.page.title"
                      id="page-title"
                      class="form-control"
                      placeholder="Page Title">
        </div>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deletePage(model.page._id)">Delete</a>
            </form>
</div>
    </div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-bottom">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
