<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
<form name="loginForm" id="loginForm" novalidate>
        <h1>Login</h1>
<div>
        <input ng-model="model.user.username"
               type="text"
               autocorrect="off"
               autocapitalize="off"
               required
               name="username"
               class="form-control"
               placeholder="Username"/>
</div>
    <span ng-show="loginForm.$submitted && loginForm.username.$invalid">
        Username is required
    </span>

    <div>
        <input ng-model="model.user.password"
               required
               name="password"
               type="password"
               class="form-control"
               placeholder="Password"/>
    </div>
    <span ng-show="loginForm.$submitted && loginForm.password.$invalid">
        Password is required
    </span>



        <button ng-click="model.login(model.user.username, model.user.password)"
                form = "loginForm"
                type="submit"
                class="btn btn-primary btn-block">
            Login
        </button>
</form>

        <a class="btn btn-success btn-block"
           href="#/register">Register</a>

    <a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>

    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>
    </div>
