<nav class="navbar navbar-default navbar-fixed-top website">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <b>Profile</b>
        </a>
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               ng-click="model.updateUser(model.user, model.user._id)">
                <span class="glyphicon header glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

    <div class="container-fluid">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="model.user.username"
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input ng-model="model.user.email"
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="xxx@xxx.com">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input ng-model="model.user.firstName"
                        type="text"
                        class="form-control"
                        id="first-name"
                        placeholder="Tom">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input ng-model="model.user.lastName"
                        type="text"
                        class="form-control"
                        id="last-name"
                        placeholder="Smith">
            </div>
        </form>

        <a class="btn btn-primary btn-block"
           href="#/user/{{model.user._id}}/website">Websites</a>
        <a class="btn btn-danger  btn-block"
           ng-click="model.logout()">Logout</a>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom website">
    <div class="container-fluid">
        <div class="navbar-bottom">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" class="nav navbar-nav navbar-right">
                    <span class="glyphicon footer glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
