 <div class="container">
        <h1>Register</h1>
        <input ng-model="model.user.username"
                type="text"
               class="form-control"
               placeholder="Username"/>
        <input ng-model="model.user.password1"
                type="password"
               class="form-control"
               placeholder="Password"/>
        <input ng-model="model.user.password2"
                type="password"
               class="form-control"
               placeholder="Verify Password"/>
        <a class="btn btn-primary btn-block"
           ng-click="model.register(model.user.username,
            model.user.password1, model.user.password2)">
            Register</a>
        <a class="btn btn-danger  btn-block"
           href="#/login">Cancel</a>
    </div>
