<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
          <span class="glyphicon black glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>



<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item no_border">
            <a ng-click="model.createWidgetHeader(model.widget)"
               class="text">
                Header
            </a>
        </li>

        <li class="list-group-item no_border">
            <a href="#" class="text">
                Label
            </a>
        </li>

        <li class="list-group-item no_border">
            <a href="#" class="text">
                HTML
            </a>
        </li>

        <li class="list-group-item no_border">
            <a href="#" class="text">
                Text Input
            </a>
        </li>

        <li class="list-group-item no_border">
            <a href="#" class="text">
                Link
            </a>
        </li>

        <li class="list-group-item no_border">
            <a href="#" class="text">
                Button
            </a>
        </li>

        <li class="list-group-item no_border">
            <a ng-click="model.createWidgetImage(model.widget)"
               class="text">
                Image
            </a>
        </li>

        <li class="list-group-item no_border">
            <a ng-click="model.createWidgetYouTube(model.widget)"
               class="text">
                YouTube
            </a>
        </li>

        <li class="list-group-item no_border">
            <a href="#" class="text">
                Data Table
            </a>
        </li>

        <li class="list-group-item no_border">
            <a href="#" class="text">
                Repeater
            </a>
        </li>
    </ul>

</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-bottom">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>