<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon black glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand" href="#">
            <b>Widgets</b>
        </a>
        <div class="navbar-text pull-right">
            <a class="navbar-link"
                    href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon black glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>



<div class="row container-fluid">
   <div ng-switch="widget.widgetType"
        ng-repeat="widget in model.widgets">
       <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}" class="pull-right">
           <span class="glyphicon glyphicon-cog"></span>
       </a>
       <span class="glyphicon glyphicon-align-justify pull-right"></span>

       <div ng-switch="widget.size"
            ng-switch-when="HEADER">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
       </div>

       <div ng-switch-when="YOUTUBE">
                <iframe width="560" height="315"
                        ng-src="{{model.checkSafeYoutubeUrl(widget.url)}}"
                        frameborder="0" allowfullscreen></iframe>
       </div>

       <div ng-switch-when="IMAGE">
           <img src="{{widget.url}}"
                width="630px">
       </div>

       <div ng-switch-when="HTML"
            ng-bind-html="model.checkSafeHtml(widget.text)">
       </div>
        </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-bottom">
            <p class="navbar-text pull-left">
                <a href="#">
                    <span class="glyphicon black glyphicon-play"></span>
                </a>
            </p>

            <p class="navbar-brand">
                <a href="#">
                    <span class="glyphicon black glyphicon-eye-open"></span>
                </a>
            </p>

            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>

</nav>
